@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    box-sizing: border-box;
   
    
}
a{
    text-decoration: none;
    
}

#primarypage{
    background-image: conic-gradient(from 270deg at 100% 15%, rgb(89, 47, 194), rgb(35, 13, 54), rgb(44, 54, 106)); 
    height: 100vh;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;

}
  
.cabecalho{
    
    word-spacing: 3rem;
    margin-top: 7%;
    position: absolute;
    padding: 1.rem;
    margin-left: 66%;
    z-index: 2;
    
}
.cabecalho--pagina:hover{
    background-image: linear-gradient(60deg, #74148b, #d8e2e6);
    background-clip: text;
    color: transparent;
    
}


.cabecalho--pagina{
    font-family: "Roboto", sans-serif;
    margin-top: -18%;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}

li{
    list-style: none;
}
.h1--container{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.titulo--conteudo{
    margin-top: 30%;
    font-size: 1.8rem;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to left, #227eb3, #12b9ec);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 1;
}
.subtitulo--conteudo{
    position: absolute;
    font-size: 2rem;
    font-family: "Roboto", sans-serif;
    display: flex;
    color: #ebe8e9;
    margin-left: 1%;
    margin-top: 16%;
    padding: 13px;
    width: 20%;
}

.subtitulo {
    position: absolute;
    margin-top: 4%;
    margin-left: 11%;
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ebe8e9;
}  

.paragrafo--subtitulo{
    position: absolute;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: #F6F6F6F6;
    width: 35%;
    word-spacing: 2px;
    margin-left: 2%;
    margin-top: 20%;
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    
    &::before {
        content: "";
        position: absolute;
        left: -12px; /* Ajusta a posição horizontal da linha */
        top: 0;
        bottom: 0;
        width: 5px; /* Largura da linha */
        background-color: #1465c2; /* Cor da linha */
        height: 40%;
        margin-top: 4%;
      }
}



.imagem--central{
    position: absolute;
    margin-left: 60%;
    margin-top: 12%;
    border-radius: 50px;
    border-style: groove;
    
   
}

.line{
    padding-top: 6%;
    margin: auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    border-bottom: 0.3rem solid rgb(103, 36, 165);
    border-radius: 0.2rem;
}
.vlibras{
    position: absolute;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    color: #F6F6F6F6;
    width: 30%;
    word-spacing: 1px;
    margin-left: 2%;
    margin-top: 42%;
    text-align: justify; 
    box-shadow: rgba(25, 1, 39, 0.788) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    &::before{
        content: "";
        position: absolute;
        left: -10px; /* Ajusta a posição horizontal da linha */
        top: 0;
        bottom: 0;
        width: 5px; /* Largura da linha */
        background-color: #1465c2; /* Cor da linha */
        height: 90%;
        margin-top: 0%;
    }
}
.vlibras--link{
    color: #F6F6F6F6;
    background-color:  rgb(117, 0, 250);
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    
    
}





@media screen and (max-width: 1600px){
    .vlibras{
        margin-top: 50%;
    }
    .line{
        width: 85%;
    }
    .cabecalho{
        word-spacing: 3rem;
        margin-top: 8%;
        position: absolute;
        padding: 1.rem;
        margin-left: 60%
    }

    .imagem--central{
        position: absolute;
        width: 35%;
        margin-left: 60%;
        margin-top: 15%;
    }
    .paragrafo--subtitulo{
        width: 35%;
        font-size: 1rem;
        margin-top: 26%;
    }
    .subtitulo--conteudo{
        margin-top: 20%;
    }
    .titulo--conteudo{
        width: 100%;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 1366px){
    .cabecalho--pagina{
        position: relative;
        z-index: 2;
    }
    .vlibras{
        margin-top: 46%;
    }
    .line{
        width: 80%;
    }
    .cabecalho{
        word-spacing: 3rem;
        margin-top: 8%;
        position: absolute;
        padding: 1.rem;
        margin-left: 60%
    }

    .imagem--central{
        position: absolute;
        width: 35%;
        margin-left: 60%;
        margin-top: 10%;
    }
    .paragrafo--subtitulo{
        width: 35%;
        font-size: 0.9rem;
        margin-top: 20%;
        word-spacing: 1.1px;
    }
    .subtitulo--conteudo{
        margin-top: 15%;
    }
    .titulo--conteudo{
        z-index: 1;
        width: 100%;
        font-size: 1.5rem;
        margin-top: 30%;
        position: relative;
    }
    .subtitulo{
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 768px){
    .titulo--conteudo{
        font-size: 1.2rem;
        width: 34rem;
        margin-top: 29%;
        position: relative;
        display: flex;
    }
    .subtitulo--conteudo{
        font-size: 1.4rem;
        margin-top: 28%;
        width: 30%;
    }
    .paragrafo--subtitulo{
        width: 60%;
        margin-top: 34%;
        
    }
    .vlibras{
        margin-top: 90%;
        width: 55%;
    }
    .imagem--central{
        margin-top: 30%;
        left: 3%;
    }
    .line{
        padding-top: 10%;
    }
    .cabecalho--pagina{
        font-size: 1rem;
        
    }
    .cabecalho{
        word-spacing: 1rem;
        margin-top: 12%;
        position: absolute;
        padding: 1.rem;
        margin-left: 58%;
        z-index: 2;
    }
    .subtitulo{
        margin-top: 6%;
    }
   
}

@media screen and (max-width: 390px){

    .h1--container  { 
       right: 0%;
    }

    .line{
      margin: 30px 10px 10px 10px;
      position: absolute;
      width: 97%;
      
    }
    .titulo--conteudo{
    position: relative;
    font-size: 0.87rem;
    right: 0px;
    text-align: center;
    padding-top: 40%;
    white-space: nowrap;
    }
    .subtitulo--conteudo{
      font-size: 1rem;
      margin-top: 64%;
      width: 34%;
    }
    .subtitulo{
      font-size: 0.9rem;
      margin: 50px 10px 10px 10px;
    }
    .cabecalho--pagina{
      font-size: 0.8rem;
    }
    .cabecalho{
      margin-top: 21%;
      word-spacing: 0.8rem;
      margin-left: 53%;
    }
    .paragrafo--subtitulo{
      font-size: 0.8rem;
      margin-top: 75%;
      width: 90%; /* Alterando a largura para 90% para evitar a barra de rolagem horizontal */
      padding: 0 5px; /* Adicionando padding para evitar que o conteúdo encoste nas bordas */
    }
    .vlibras{
      margin-top: 34rem;
      width: 90%;
      font-size: 1rem;
    }
    .imagem--central{
      margin: 45% 0% 0% -2%;
    }
  }

  @media screen and (max-width: 412px){

    .h1--container  { 
       right: 0%;
    }

    .line{
      margin: 30px 10px 10px 10px;
      position: absolute;
      width: 97%;
      
    }
    .titulo--conteudo{
    position: relative;
    font-size: 0.87rem;
    right: 0px;
    text-align: center;
    padding-top: 40%;
    white-space: nowrap;
    }
    .subtitulo--conteudo{
      font-size: 1rem;
      margin-top: 64%;
      width: 34%;
    }
    .subtitulo{
      font-size: 0.9rem;
      margin: 50px 10px 10px 10px;
    }
    .cabecalho--pagina{
      font-size: 0.8rem;
    }
    .cabecalho{
      margin-top: 21%;
      word-spacing: 0.8rem;
      margin-left: 53%;
    }
    .paragrafo--subtitulo{
      font-size: 0.8rem;
      margin-top: 75%;
      width: 90%; /* Alterando a largura para 90% para evitar a barra de rolagem horizontal */
      padding: 0 5px; /* Adicionando padding para evitar que o conteúdo encoste nas bordas */
    }
    .vlibras{
      margin-top: 34rem;
      width: 90%;
      font-size: 1rem;
    }
    .imagem--central{
      margin: 45% 0% 0% -2%;
    }
  }

  @media screen and (max-width: 360px){

    .h1--container  { 
       right: 0%;
    }

    .line{
      margin: 30px 10px 10px 10px;
      position: absolute;
      width: 97%;
      
    }
    .titulo--conteudo{
    position: relative;
    font-size: 0.77rem;
    right: 0px;
    text-align: center;
    padding-top: 40%;
    white-space: nowrap;
    }
    .subtitulo--conteudo{
      font-size: 1rem;
      margin-top: 64%;
      width: 34%;
    }
    .subtitulo{
      font-size: 0.9rem;
      margin: 50px 10px 10px 10px;
    }
    .cabecalho--pagina{
      font-size: 0.7rem;
    }
    .cabecalho{
      margin-top: 23%;
      word-spacing: 0.84rem;
      margin-left: 54%;
    }
    .paragrafo--subtitulo{
      font-size: 0.8rem;
      margin-top: 75%;
      width: 90%; /* Alterando a largura para 90% para evitar a barra de rolagem horizontal */
      padding: 0 5px; /* Adicionando padding para evitar que o conteúdo encoste nas bordas */
    }
    .vlibras{
      margin-top: 34rem;
      width: 90%;
      font-size: 0.8rem;
    }
    .imagem--central{
      margin: 40% 0% 0% -2%;
    }
  }
  



#Snow-js{
    position: absolute;
    height: 10%;
    width: 100%;
    top: 1%;
}