P{
   font-family: "Roboto", sans-serif;
}
.logoapp{
      border-radius: 50%;
      padding: 10px;
}
.topic-1 h1{
    font-size: 35px;
    color: #d465ff;
    font-family: "Roboto", sans-serif;
    margin-bottom: 5rem;
 }

 .topic-1{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 }

 .topic-1 ul{
    width: 1000px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
 }

 .topic-1 ul h2{
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
 }

 .topic-1 ul h3{
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 1rem;
 }

 .topic-1 ul p{
    font-family: Georgia, "Roboto", sans-serif;
    text-align: justify;
    margin-bottom: 1rem;
 }

 .topic-1 ul img{
    width: 40%;
 }

 .part-1{
   color: #4e8cff;
 }

 .part-2{
   color: #a14eff;
 }
 .app{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .topic-1 ul a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px
 }

 .topic-1 ul li{
    margin-bottom: 4rem;
 }

 a:hover{
   opacity: 0.8;
 }