body{
    background-image: linear-gradient( 110.1deg,  rgb(35, 3, 95) 44.2%, rgb(15, 2, 31) 138.2% );
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

/* HEADER */

/* largura e cor da topbar */
.topbar{
    z-index: 1;
    position: fixed;
    width: 100%;
  
}

/* itens da topbar alinhados lado a lado */
.topbar-content ul{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

/* distanciando logo das bordas */
.topbar-content ul li img{
    padding: 10px 0 10px 0;
    width: 90px;
}

.topbar-content ul li h1{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.topbar-content ul li a{
    text-decoration: none;
    color: #8E05C2;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

/* animacoes */
.topbar-content ul li a:hover{
    transition: background 1s;
    background-image: linear-gradient(60deg, #147d8b, #d8e2e6);
    background-clip: text;
    color: transparent;
}


/* voltar ao topo */
#up{
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: #cc4bff;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    top: 0;
    margin-top: 6.5rem;
    z-index: 3;
    user-select: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#up:hover{
    transition: background 1s;
    opacity: 0.9;
}


/* MAIN */
main {
    flex: 1;
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* FOOTER */

footer{
    background-image: radial-gradient( circle 975px at 2.6% 48.3%,  rgb(41, 47, 128) 0%, rgb(49, 5, 119) 99.7% );
    flex-shrink: 0; /* Evita que o rodapé seja encolhido. */
    margin-top: 18rem;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 30px;
    font-family: sans-serif;
    text-align: center;
}

.footer-content img{
    width: 80px;
}

.footer-content a{
    text-decoration: none;
    color: #ffffff;
    font-family: cursive;
}

.footer-content p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social a:hover{
    transition: background 1s;
    opacity: 0.8;
}

