#t1tle{
   font-size: 35px;
   width: 700px;
   margin-bottom: 23px;
   color: #d465ff;
   font-family: 'Kanit', sans-serif;
}

#t1xt{
    width: 700px;
    color: white;
    text-align: justify;
    font-family: 'Arimo', sans-serif;
}

/* topic-1 */
.topic-1{
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-1 img{
    width: 300px;
    margin-left: 60px;
}

/* topic-2 */
/* deixar margem do topico 1  */
.topic-2{
    margin-top: 17rem;
    margin-bottom: 10rem;
}

.topic-2 h1{
    color: #d465ff;
    font-size: 35px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

/* deixar a lista em grid */
.topic-2 ul{
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    max-width: 87.5rem;
    padding: 50px;
}

/* deixar o conteudo dentro da li em uma coluna de uma linha */
.topic-2 ul li{
    position: relative;
    background-color: white;
    display: flex;
   flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    height: 165px;
    overflow: hidden;
}

/* textos */
.topic-2 ul li h2{
    text-align: left;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #7c65ff;
}

.topic-2 ul li p{
    text-align: justify;
    color: #d13bff;
    font-size: 17px;
    font-family: 'Arimo', sans-serif;
}

/* efeito icone */
.topic-2 ul li .fa-solid{
    position: absolute;
    text-align: center;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    transform: translate(30%, 30%);
    line-height: 100px;
}

/* topico 3 */
/* deixar margem do topico 2  */
.topic-3{
    margin-top: 10rem;
}

.topic-3 h1{
    color: #a60dff;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

/* deixando lista lado a lado e com distancia entre itens */
.background{
    background-image: url("../pictures/pexels-fauxels-3184452.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 1500px;
    height: 600px;
}

.topic-3 ul{
    margin-top: 5rem;
    margin-bottom: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.topic-3 ul li a{
    font-size: 26px;
    text-decoration: none;
    color: #5a00c2;
    padding: 0.9rem 3.3rem;
    border-radius: 15px;
    line-height: 1.2rem;
    background-color: white;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
}  

/* animacoes */
#app{
    background: linear-gradient(45deg, rgba(255,255,255,1) 86%, rgba(112,11,151,1) 96%);
}

#video{
    background: linear-gradient(225deg, rgba(255,255,255,1) 86%, rgba(112,11,151,1) 96%);
}

#app:hover{
    transition: background 1s;
    background: linear-gradient(45deg, rgba(255,255,255,1) 64%, rgba(112,11,151,1) 92%);    
    opacity: 0.9;
}

#video:hover{
    transition: background 1s;
    background: linear-gradient(225deg, rgba(255,255,255,1) 64%, rgba(112,11,151,1) 92%);
    opacity: 0.9;
}