.topic-1 h1{
    font-size: 35px;
    color: #d465ff;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 5rem;
 }

 .topic-1{
    margin-top: 170px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 }
.topic-1 ul{
   width: 1000px;
}
 .topic-1 ul li{
    margin-bottom: 12rem;
    display: grid;
    grid-template-columns: auto auto;
 }

 .topic-1 ul h2{
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
 }
